<template>
   <div>
    <div class="box" v-if="isAuthor">       
     <li v-for="todo in todos" :key="todo.id" class="job mb-2" :class="{completed: todo.completed}">
    <input type="checkbox" :checked="todo.completed" @change="CHECKEDBOX(todo.id)"> <span>{{ todo.title }}</span> <button @click="deleteTodoAction(todo.id)">Delete</button>
    </li>
    <h3 class="text-center"> Hoàn thành: {{ doneTodo }} </h3>
    </div>
    <h4 v-else>Hello</h4>
   </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
// import { mapState} from 'vuex'
export default{
    name: 'Todos',
   computed: {...mapGetters(['isAuthor', 'todos', 'doneTodo'])},
   created() {
    this.getTodoAction()
   },
//    {
//     todos(){
//         return this.$store.state.todos
//     },
//     doneTodos(){
//         return this.$store.state.todos.filter(item => item.completed).length
//     }
//    }
methods: {...mapMutations(['DELETETODO', 'CHECKEDBOX']),
deleteTodoAction(todoId){
    this.$store.dispatch('deleteTodoItem', todoId)

},
getTodoAction(){
    this.$store.dispatch('getTodo')
}
}
   
};
</script>

<style>
.box{
    width: 40%;
    margin: auto;
    background-color: gray;

}
li{
    list-style-type: none;
    width: 100%;
    margin: auto;
    float: right;
    background: rgb(234, 231, 231);
}
.job{
    display:flex;
    justify-content: space-between;
}
button{
    /* border-radius: 10px; */
    background: red;
    color: white;
    border: none;
}
.completed{
    background:rgb(19, 119, 152);
    color: white;
}
</style>